.department{
    background-image: url("../../assets//images/departments.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 80px 0;
}
.department-head h2{
    color: var(--color-surface-white, #FFF);
    text-align: center;
    font-family: Work Sans;
    font-size: 31px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 43.4px */
    letter-spacing: 0.25px;
}
.department-head p{
    color: var(--color-surface-white, #FFF);
    text-align: center;
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.5px;
    padding: 10px 0;
    width: 50%;
    margin: 0 auto;
}
.each-dept_cont{
    display: flex;
    justify-content: center;
    gap: 25px;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 30px 0;
}
.each-dept_content{
    display: flex;
    width: 265px;
    padding: 40px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background: var(--color-surface-white, #FFF);
    width: 23%;
}
.each-dept_content img{
    width: 80px;
    height: 80px;
}
.each-dept_content h3{
    color: var(--color-grey-grey-600, #2E2E2E);
    font-family: Work Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 30.8px */
    width: 80%;
}
.each-dept_content p{
    color: var(--color-grey-grey-400, #5C5C5C);
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.5px;
}

@media (max-width: 900px) {
    .department-head h2{
        font-size: 26px;
    }
    .department-head p{
        font-size: 14px;
        width: 90%;
    }
    .each-dept_cont{
        flex-direction: column;
    }
    .each-dept_content{
        width: 100%;
        padding: 20px;
    }
    .each-dept_content img{
        width: 64px;
        height: 64px;
    }
    .each-dept_content h3{
        font-size: 18px;
    }
    .each-dept_content p{
        font-size: 14px;
    }
}