
.teachers-reg{
    margin: 30px auto;
}
.tick-icon, .x-icon{
    width: 16px;
    height: 16px;
    color: white;
}
.cover-green{
    background: var(--color-success-normal, #049C29);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}
.cover-red{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background: var(--color-error-normal, #EB060B);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
}