

.sidenav_logo{
    display: flex;
    align-items: center;
    gap: 5px;
}
.sidenav_logo h2{
    color: var(--color-grey-grey-700, #242424);
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 25.2px */
    letter-spacing: 0.15px;
}
.sidenav-links{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 0;
}
.each-link{
    display: flex;
    padding: 18px 16px;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background: var(--color-surface-white, #FFF);
}
.each-link p{
    color: var(--color-grey-grey-500, #333);
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    letter-spacing: 0.1px;
}