
.hero-section{
    background: var(--color-accent-normal, #162625);
}
.hero-container{
    display: flex;
    align-items: center;
    padding: 30px 0 0;
    width: 95%;
    margin-left: auto;
}
.hero-left h1{
    color: var(--color-surface-white, #FFF);
    font-family: Work Sans;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    width: 65%;
    line-height: 140%; /* 60.2px */
}
.hero-left h1 span{
    color: var(--color-primary-normal, #F26722);
}
.hero-left p{
    color: var(--color-surface-normal, #F9FAFB);
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.5px;
    padding: 20px 0 40px;
    width: 65%;
}