/* enrollment  */
.no-of_children-table p{
    color: var(--color-grey-grey-400, #5C5C5C);
    font-family: Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.5px;
    padding: 40px 0 10px;
}
.no-of_children-table table{
    border: 1px solid var(--color-grey-grey-50, #EBEBEB);
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
}
.no-of_children-table table thead tr td{
    border: 1px solid var(--color-grey-grey-50, #EBEBEB);
    color: var(--color-grey-grey-400, #5C5C5C);
    text-align: center;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    letter-spacing: 0.1px;
    padding: 5px;
}
.first-table_head{
    width: 20%;
    color: var(--color-grey-grey-700, #242424) !important;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    letter-spacing: 0.1px;
    text-align: left !important;
    padding: 12px 26px !important;
}
.second-table_head{
    width: 70%;
}
.third-table_head{
    width: 10%;
}
.small-data_head{
    padding: 6px;
    width: 14%;
}
.npc-input{
    width: 5% !important;
}
.npc-input input{
  width: 100% !important;
  text-align: center;
  color: var(--color-grey-grey-400, #5C5C5C);
  text-align: center;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
  letter-spacing: 0.1px;
}
/* .first-table_head-border{
    border: none !important;
}
.remove-border{
    border-bottom: none !important;
} */

.empty-table_head{
    width: 5% !important;
}
.small-table_head{
    width: 15% !important;
}
.class-table table thead tr td{
    padding: 12px 0;
}
.class-table table thead tr td:first-child{
    width: 2% !important;
}
.class-table table thead tr td input{
    color: var(--color-grey-grey-100, #C0C0C0);
}

.useable-toilet_first-td{
    width: 15% !important;
}
.smaller-td{
    width: 5% !important;
}

.radio-div{
    width: 30%;
}
input[type="radio"]{
    width: 24px;
    height: 24px;
    border: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px 1px rgba(103, 110, 118, 0.16), 0px 2px 5px 0px rgba(103, 110, 118, 0.08);
}
.radio-checkbox{
    height: 50px;
}