.carousel {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 80px 0px;
    /* border: 1px solid red; */
}
.carousel .slide-hidden {
    display: none;
}
.carousel .arrow {
    position: absolute
}
.carousel .arrow :hover {
    cursor: pointer;
}
.slide-imgdiv{
    /* border: 2px solid green; */
    width: 90%;
    margin: 0 auto;
}
.slide-imgdiv img{
    /* border: 2px solid red; */
    width: 100%;
    height: 600px;
}
.left {
    left: 8rem;
}
.right {
    right: 8rem;
}
.carousel .indicators {
    position: absolute;
    bottom: 6rem;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background: var(--color-primary-normal, #F26722);
}
.carousel .indicator {
    width: 10px;
    height: 10px;
    border-radius: 6px;
    background: var(--White, #FFF);
    cursor: pointer;
}
.carousel .indicator-inactive {
    background-color: grey;
}

@media (max-width: 900px) {
    .carousel {
        padding-bottom: 40px;
    }
    .carousel img {
        object-fit: scale-down;
        max-width: 100%;
        max-height: auto;
        padding: 10px;
    }
    .left {
        left: 0rem;
    }
    .right {
        right: 0rem;
    }
    .arrow {
        width: 60px;
    }
    .carousel .indicators {
        gap: 8px;
        bottom: 4rem;
        padding: 5px;
    }
}