.studentper-class{
    background: var(--primary-light, #F7F9FB);
    padding: 20px;
    width: 60%;
}

.chart h1 {
    color: var(--color-grey-grey-700, #242424);
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.1px;
}

.progress-bar {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
}

.progress-fill {
    color: black;
    display: flex;
    padding: var(--4, 4px);
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-bottom: 1px solid var(--color-surface-normal-active, #EBEEF2);
    background: var(--color-surface-white-active, #F26722);
}

.chart-cont{
    border: 1px solid var(--color-surface-normal-active, #EBEEF2);
    margin-top: 20px;
}

.day{
    border-bottom: 1px solid var(--color-surface-normal-active, #EBEEF2);
    display: flex;
    padding: var(--4, 4px);
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.chart-cont .day .class {
    width: 263px;
    color: var(--color-grey-grey-700, #242424);
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.4px;
}

.chart-cont .day .per {
    color: var(--color-grey-grey-700, #242424);
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.4px;
}
@media (max-width: 900px) {
    .studentper-class{
        width: 100%;
    }
}