.chart h1 {
    color: var(--color-grey-grey-700, #242424);
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.1px;
}

.progress-bar {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
}

.progress-fill {
    color: black;
    display: flex;
    padding: var(--4, 4px);
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-bottom: 1px solid var(--color-surface-normal-active, #EBEEF2);
    background: var(--color-surface-white-active, #F26722);
}

.chart {
    display: flex;
    width: 631px;
    height: 229px;
    min-width: 400px;
    padding: 20px;
    flex-direction: column;
    gap: var(--16, 16px);
    flex-shrink: 0;
    font-family: Helvetica;
}

.chart-cont .day {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    padding: 5px;
}

.chart-cont .day .class {
    width: 263px;
    color: var(--color-grey-grey-700, #242424);
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.4px;
}

.chart-cont .day .per {
    color: var(--color-grey-grey-700, #242424);
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.4px;
}