thead tr {
    display: flex;
    height: 44px;
    padding: 12px var(--24, 24px);
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

thead tr th {
    color: var(--color-grey-grey-400, #5C5C5C);
    padding: 16px 24px;
    font-family: Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 16.8px */
    letter-spacing: 0.4px;
}

tbody tr {
    display: flex;
    height: 72px;
    padding: var(--16, 16px) var(--24, 24px);
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-bottom: 1px solid var(--color-surface-normal-active, #EBEEF2);
    background: var(--color-surface-white-active, #F5F7F9);
}

tbody tr td {
    color: var(--color-grey-grey-700, #242424);
    max-width: 270px;
    padding: 16px 24px;
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    /* 19.6px */
    letter-spacing: 0.1px;
    white-space: break-spaces;
}



thead tr {
    padding: 26px;
    display: flex;
    gap: 200px;

}